[submodule "themes/inkblotty"]
	path = themes/inkblotty
	url = https://github.com/tosi29/inkblotty.git
[submodule "themes/pure"]
	path = themes/pure
	url = git@github.com:xiaoheiAh/hugo-theme-pure.git
